click==8.1.8
-e git+ssh://git@github.com/alatruwe/context-core.git@447fd412c0c368c094230db26617e0b7716be19f#egg=context_core
markdown-it-py==3.0.0
mdurl==0.1.2
Pygments==2.19.1
rich==14.0.0
shellingham==1.5.4
typer==0.15.4
typing_extensions==4.13.2
